@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic');


@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?3tu372');
    src:  url('./fonts/icomoon.eot?3tu372#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?3tu372') format('truetype'),
      url('./fonts/icomoon.woff?3tu372') format('woff'),
      url('./fonts/icomoon.svg?3tu372#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-checkmark:before {
    content: "\ea10";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-ctrl:before {
    content: "\ea50";
  }
  
